@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.button_search {
  @include font-regular-m;
  height: 32px;
  width: 75px;
  color: $base-ligth-grey;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .icon {
    width: 20px;
    height: 20px;
    color: $base-ligth-grey;
    margin-top: 4px;
  }
  &:hover {
    .icon,
    p {
      transition-duration: 0.3s;
      color: $base-white;
    }
  }
  @include container_920 {
    display: none;
  }
}
