@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.wrapper {
  max-height: 350px;
  aspect-ratio: 3/6;
  position: relative;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    .poster {
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      position: relative;
      .img {
        width: inherit;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      .name {
        @include font-regular-m;
        height: 20px;
        width: 100%;
        color: $base-light-blue;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .tariff {
        @include font-light-s;
        color: $base-grey;
      }
    }
  }

  &:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
  }
  &:active {
    transform: scale(1);
    transition-duration: 0.2s;
  }
}
