@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  position: absolute;
  top: 180px;
  left: 700px;
  width: 200px;
  height: 300px;
  .poster {
    width: inherit;
    height: calc(100% - 40px);

    .img {
      width: inherit;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    .name {
      font-size: 15px;
      font-weight: 500;
      color: $base-light-blue;
    }
    .tariff {
      font-size: 13px;
      font-weight: 400;
      color: $base-grey;
    }
  }
}
