@import "../../styles/color.scss";

.container {
  display: flex;
  flex: 1 1;

  .loader {
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .loader div {
    box-sizing: border-box;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loading_page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgb($base-dark-blue, 0.9);
  z-index: 100;
}

.loading_simple {
  width: 100%;
  height: 300px;
}

.loading_genres {
  width: 450px;
  height: 200px;
}
