@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.container {
  @include container_1280 {
    height: 420px;
    position: fixed;
    position: absolute;
    top: 72px;

    .wrapper {
      height: inherit;
      width: inherit;
      position: relative;

      .bg_div {
        height: inherit;
        background-color: $base-dark-purple;
        border-radius: 0px 0px 14px 14px;
        z-index: 0;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 35px 25px 25px 25px;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a:hover {
          color: $base-white;
        }

        h3 {
          margin: 24px 0 12px;
          @include font-footer-bold;
          color: $base-white;
        }

        div:nth-of-type(1) ul {
          display: grid;
          grid-template-columns: repeat(2, 200px);
          grid-gap: 5px;
        }

        div:nth-of-type(2) ul {
          display: grid;
          grid-template-columns: 190px;
          grid-gap: 5px;
        }

        div:nth-of-type(3) {
          padding: 24px 20px 0;
          border-left: 1px solid $base-grey-topmenu;
          ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 5px;
          }
        }
      }
    }
  }
}
