@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.container {
  height: 420px;
  position: absolute;
  top: 72px;
  left: 0;

  @include laptop {
    width: 100%;
    margin: 0 auto;
  }

  @include desktop {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  }

  @include mobile_m {
    display: none;
  }

  @include tablet_s {
    display: none;
  }

  @include mobile_s {
    display: none;
  }

  .wrapper {
    height: inherit;
    width: 100%;
    position: relative;

    .bg_div {
      height: inherit;
      background-color: $base-dark-purple;
      border-radius: 0px 0px 14px 14px;
      z-index: 0;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $base-grey-menu;
      padding: 32px;
      box-sizing: border-box;

      a:hover {
        color: $base-white;
      }

      h3 {
        margin: 24px 0 12px;
        @include font-regular-l;
        color: $base-white;
      }

      div:nth-of-type(1) ul {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-gap: 5px;
      }

      div:nth-of-type(2) ul {
        display: grid;
        grid-template-columns: 190px;
        grid-gap: 5px;
      }

      div:nth-of-type(3) {
        padding: 24px 20px 0;
        border-left: 1px solid $base-grey-topmenu;
        ul {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 5px;
        }
      }
    }
  }
}
