@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.button_watch_for_free {
  @include pink-button;
  height: 32px;
  width: 213px;
  padding: 7px 11px;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    background-color: $base-bright-pink;
  }
}
