@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}
.purple {
  background-color: $base-dark-purple;
  border: 1px solid $base-dark-purple;
  border-radius: 8px;
  color: $base-white;
  &:hover {
    background-color: $base-light-purple;
    border: 1px solid $base-light-purple;
    transition: all 0.4s ease 0s;
  }
}
.darkbluegrey {
  background-color: $base-dark-grey;
  border: 1px solid $base-dark-grey;
  border-radius: 8px;
  color: $base-white;
  &:hover {
    background-color: $base-dark-grey-hover;
    transition: all 0.4s ease 0s;
  }
}
.pink {
  background-color: $base-pink;
  color: $base-white;
  border-radius: 8px;
  border: 1px solid $base-pink;
  &:hover {
    background-color: $base-bright-pink;
    transition: all 0.4s ease 0s;
  }
}
.chatButton {
  height: 40px;
  width: 196px;
  @include font-regular-m;
  line-height: 20px;
}
.footerIconButton {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 1;
}
.footerStoresButton {
  @include font-light-m;
  line-height: 20px;
  padding: 0 12px;
  height: 100%;
  svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  span {
    display: block;
    @include font-regular-xxs;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.72;
  }
}
.socialButton {
  width: 40px;
  height: 40px;
  border-radius: 20px !important;
  color: $base-white;
  &:hover {
    transition: all 0.4s ease 0s;
  }
  svg {
    height: 16px;
    width: 16px;
  }
}
.subscribeButton {
  padding: 6px 16px;
  width: 100%;
  height: 48px;
  justify-content: flex-start;
  column-gap: 12px;
  @include font-light-l;
  line-height: 16px;
  svg {
    color: #7e798f;
    height: 20px;
    width: 20px;
  }
}
.deviceButton {
  padding: 6px 16px;
  width: 100%;
  height: 40px;
  justify-content: center;
  column-gap: 12px;
  @include font-light-l;
  line-height: 16px;
  span {
    display: block;
    @include font-regular-xxs;
    line-height: 12px;
    text-align: left;
  }
  svg {
    color: $base-white;
    height: 20px;
    width: 20px;
  }
}
.loginButton {
  column-gap: 6px;
  @include font-regular-m;
  line-height: 20px;
  padding: 9px 15px;
}
.profileSertButton {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
  padding: 12px 16px;
  color: $base-white;
  @include font-regular-m;
  line-height: 20px;
  white-space: nowrap;
  & > div:first-child {
    font-family: "IviSans-bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}
.profilePresentButton {
  min-width: 300px;
  height: 56px;
  column-gap: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $base-white;
  @include font-regular-m;
  line-height: 20px;
  background-image: radial-gradient(circle at 50% 50%, rgba(126, 121, 143, 0.56), rgba(49, 43, 69, 0) 100%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $base-dark-grey;
  &:hover {
    background-color: $base-dark-grey-hover;
  }
  img {
    height: 32px;
    width: 55px;
  }
}
.profileInviteButton {
  column-gap: 8px;
  min-width: 200px;
  height: 56px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $base-white;
  @include font-regular-m;
  line-height: 20px;
  svg {
    width: 20px;
    height: 20px;
    color: $base-bright-pink;
  }
}
.profileMenuButton {
  flex-direction: column;
  padding: 24px 8px 16px;
  min-width: 100px;
  @include font-regular-m;
  line-height: 20px;
  & > div {
    overflow: hidden;
    line-clamp: 2;
    text-overflow: ellipsis;
    height: 40px;
  }
  img {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
  }
}
