@import "../../styles/mixins.scss";
@import "../../styles/color.scss";

.submenu {
  @include font-light-m;
  line-height: 20px;
  background-color: transparent;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
