@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.buttons_lang {
  width: 70px;
  height: 44px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 12px 5px;
  margin-left: 5px;
  color: $base-ligth-grey;
  button {
    background-color: transparent;
    margin-right: 5px;
  }
  span {
    width: 24px;
    height: 24px;
    @include font-regular-l;
    background-color: transparent;
    color: $base-ligth-grey;
    transition: 0.1s;
    text-transform: uppercase;
    &:hover {
      color: $base-white;
    }
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}
