@import "../../../styles/mixins.scss";
@import "../../../styles/color.scss";

.container {
  padding-right: 30px;
  aspect-ratio: 3/4;
  box-sizing: border-box;
  @include desktop {
  }

  @include laptop {
  }

  @include tablet_s {
  }

  @include mobile_m {
    padding-right: 0;
  }

  @include mobile_s {
    padding-right: 0;
  }
  .player_block {
    aspect-ratio: 3/4;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .buttons {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $base-light-black;

      .watch {
        @include pink-button;
        width: 80%;
        height: 48px;
        margin: 0 auto;
        position: relative;

        p {
          @include font-regular-s;
          margin-bottom: 1px;
        }
        span {
          @include font-light-xs;
          color: $base-grey-menu;
        }
      }

      .note {
        margin-top: 5px;
        cursor: pointer;
        p {
          @include font-light-xs;
        }
      }
    }
  }

  .bottom_buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left_side {
      display: flex;
      .trailer {
        width: 110px;
        height: 40px;
        color: $base-grey-menu;
        padding: 5px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        @include font-regular-m;
      }

      .favorite,
      .share {
        width: 40px;
        height: 40px;
        margin-left: 15px;
        color: $base-grey-menu;
      }
    }

    .free_movies {
      display: flex;
      justify-content: space-around;
      min-width: 140px;
      max-width: 210px;
      color: $base-grey-menu;
      padding: 5px 10px;
      @include font-regular-m;
      p {
        margin-left: 10px;
      }
    }
  }
}
