@import "../../../styles/color.scss";

.mobileModal {
  display: none;
  &_open {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background-color: $base-dark-blue;
    z-index: 100;
  }
}
