@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.modalHeader {
  display: none;
  &_open {
    @include mobile_screen {
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0;
      height: 72px;
      overflow: hidden;
      z-index: 2000;
    }
  }
}
.mobileModal {
  display: none;
  &_open {
    @include mobile_screen {
      position: fixed;
      right: 0;
      left: 0;
      top: 72px;
      bottom: 30px;
      display: flex;
      background-color: $base-dark-blue;
      overflow-y: auto;
      z-index: 1000;
    }
  }
}
.container {
  padding: 0 32px;
  width: 100%;
  h3 {
    font-family: "IviSans-bold", Arial, Helvetica, sans-serif;
  }
  .group {
    padding: 32px 0;
    &:not(:first-child) {
      border-top: 1px solid $base-light-grey;
    }
    p {
      opacity: 0.48;
    }
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    a {
      flex-grow: 1;
    }
    &_dev {
      margin-top: 24px;
    }
    &_chat > a {
      flex: 0 1 67%;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }
  .link {
    display: flex;
    column-gap: 12px;
    @include font-regular-m;
    line-height: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.72;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .listTV,
  .listAbout {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    @include font-light-m;
    line-height: 20px;
    color: $base-grey-menu;
    margin-top: 21px;
    h3,
    a:hover {
      color: $base-white;
    }
  }
  .listAbout {
    row-gap: 12px;
  }
  .subscribe {
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: #ea003d;
      box-shadow: 0 2px 8px rgba(234, 0, 61, 0.8);
      width: 10px;
      height: 10px;
      top: 8px;
      right: 8px;
      border-radius: 5px;
    }
  }

  .buttonChat {
    width: 100%;
    height: 40px;
  }
  .buttonsIcon {
    display: flex;
    column-gap: 12px;
  }
  .help {
    margin: 20px 0;
  }
  .ask {
    display: inline-block;
    margin-top: 20px;
  }
  .copyright {
    margin-top: 40px;
  }
}
.contextMenu {
  color: $base-grey-menu;
  a:hover {
    color: $base-white;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 256px;
    margin-right: 24px;
  }
  h2 {
    margin-top: 24px;
  }
  h3 {
    margin: 24px 0 12px;
    @include font-bold-m;
    line-height: 20px;
    color: $base-white;
  }
  div:nth-of-type(3) {
    margin-top: 24px;
  }
}
