@import "../../../styles/mixins.scss";
@import "../../../styles/color.scss";

.container {
  width: 100%;
}
.slide {
  margin: 0 5px;
  padding: 8px 16px;
  @include font-light-l;
  line-height: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 32px;
  transition: all 0.4s ease 0s;
}
.activeSlide {
  background-color: $base-ligth-grey;
  border-color: $base-ligth-grey;
  transition: all 0.4s ease 0s;
}
.next,
.prev {
  color: $base-grey-menu;
  svg {
    stroke-width: 2px;
  }
}
