@import "../../styles/mixins.scss";
@import "../../styles/color.scss";

.container {
  @include container_1280;
  box-sizing: border-box;

  .wrapper {
    display: grid;
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-areas:
      "discription"
      "trailer"
      "slider_actors"
      "info";

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(100px, 180px) minmax(100px, 150px) 1fr;
      grid-template-areas:
        "trailer discription"
        "trailer slider_actors"
        "trailer info"
        "trailer info";
    }
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(100px, 180px) 1fr 1fr;
      grid-template-areas:
        "trailer discription"
        "trailer slider_actors"
        "trailer info"
        "trailer info";
    }

    .trailer {
      grid-area: trailer;
    }

    .discription {
      grid-area: discription;
    }
    .slider_actors {
      grid-area: slider_actors;
    }

    .info {
      grid-area: info;
    }
  }
}
