@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.container {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  transition-duration: 0.2s;
  background-color: rgba(7, 5, 14, 0.8);
}
