@import "../../../../styles/mixins.scss";
@import "../../../../styles/color.scss";

.right_buttons {
  width: 350px;
  margin: 35px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    left: -30px;
    background-color: $base-grey;
  }
  .button_watch {
    @include pink-button;
    width: 100%;
    height: 40px;
  }

  .user_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      @include font-regular-xl;
      margin: 15px 0;
    }
    h2 {
      @include font-regular-l;
    }
  }
  .bottom_buttons {
    display: flex;
    flex-direction: column;

    .sub_button {
      width: 120px;
      height: 25px;
      background-color: transparent;
      color: $base-grey-topmenu;
      text-align: left;
      cursor: pointer;
    }
  }
}
