@import "../index.module.scss";

.actorsDropdown {
  @extend .right;
  @media screen and (max-width: 880px) {
    left: 0;
    width: calc(200% + 12px);
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.search {
  width: 100%;
}
