@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.profile {
  padding: 64px 0;
  .loginRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .userName {
    font-size: 32px;
    line-height: 36px;
    font-family: "IviSans-bold";
    font-weight: 700;
    color: $base-white;
  }
  .userEmail {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    @include font-light-m;
    line-height: 20px;
    color: $base-ligth-grey;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .loginBtn {
    margin-bottom: 64px;
  }
  .topBtnRow {
    display: grid;
    justify-content: space-between;
    gap: 24px;
    grid-template-columns: 0.44fr 0.28fr 0.28fr;
    @media screen and (min-width: 1096px) and (max-width: 1271px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 920px) and (max-width: 1095px) {
      grid-template-columns: 2fr 2fr 1fr;
    }
    @media screen and (min-width: 744px) and (max-width: 919px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media screen and (min-width: 600px) and (max-width: 743px) {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .subscribeBtn {
      @media screen and (min-width: 600px) and (max-width: 919px) {
        grid-column: 1 /3;
      }
    }
    .accountBtn {
      cursor: inherit;
      &:hover {
        background-color: $base-dark-purple;
        border: 1px solid $base-dark-purple;
      }
    }
    button {
      width: 100%;
    }
  }
  .subscribePresentBtn {
    margin-top: 24px;
    margin-bottom: 24px;
    button {
      width: 100%;
    }
  }
  .inviteBtnRow {
    margin-bottom: 24px;
    display: grid;
    gap: 24px;
    justify-content: space-between;
    grid-template-columns: 69.5fr 26.6fr;
    @media screen and (min-width: 744px) and (max-width: 919px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 744px) {
      grid-template-columns: 1fr;
    }
    button {
      width: 100%;
    }
  }
  .bottomBtnRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    button {
      width: 100%;
    }
  }
  .logOutRow {
    display: flex;
    column-gap: 24px;
    margin: 32px 0;
    button {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;
      @include font-regular-m;
      line-height: 20px;
      color: $base-white;
      background-color: transparent;
      cursor: pointer;
      transition: color 0.3s ease 0s;
      &:hover {
        color: $base-pink;
        transition: color 0.3s ease 0s;
      }
      svg {
        fill: $base-pink;
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }
  }
  @include container_1280 {
  }
  @include container_s {
  }
}
