@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;

  h1 {
    @include font-bold-l;
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
  }

  .data {
    width: 100%;
    margin-top: 10px;

    .row_time,
    .row_theme,
    .row_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3px 0;

      * {
        margin-right: 7px;
        @include font-light-s;
        color: $base-grey-menu;
      }
    }

    .row_theme {
      * {
        cursor: pointer;
      }

      *:not(:last-child) {
        margin-right: 10px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 7px;
          right: -6px;
          width: 2px;
          height: 2px;
          text-align: center;
          background-color: $base-grey-menu;
        }
      }
    }

    .row_buttons {
      .button_full_hd {
        width: 55px;
        height: 22px;
        @include font-regular-s;
      }

      .watch_params {
        display: flex;
        align-items: center;
      }
    }
  }
  .actors {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
}
