@import "../../../styles/mixins.scss";
@import "../../../styles/color.scss";

.container {
  width: 100%;
  cursor: pointer;
  .datas {
    width: 100%;
    color: $base-grey-menu;
    .param {
      display: flex;
      flex-direction: row;
      .title {
        width: 200px;
      }
    }
  }

  .details {
    @include font-light-m;
    color: $base-grey;
    margin-top: 10px;
    cursor: pointer;
  }
}
