@import "../../../../../styles/color.scss";
@import "../../../../../styles/mixins.scss";

.container {
  position: relative;
  margin: 5px 0;
  &:hover {
    .description {
      display: block;
    }
  }

  .icon {
    width: 21px;
    height: 21px;
    color: $base-light-blue;
  }

  .description {
    display: none;
    position: absolute;
    top: -20px;
    right: 0px;
    transition: 0.2s;
    z-index: 1000;

    span {
      font-size: 10px;
      color: $base-light-blue;
      white-space: nowrap;
      background-color: $base-dark-purple;
      border-radius: 3px;
      padding: 5px;
    }
  }
}
