@import "../../styles/mixins.scss";
@import "../../styles/color.scss";

.profileModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  overflow: hidden;
  z-index: 1000;
  &_open {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-dark-blue;
  }
  .headerRow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 52px;
    width: 100%;
  }
  .content {
    padding-top: 16px;
    padding-bottom: 48px;
    width: 100%;
  }
  .title {
    margin-top: 0;
    color: $base-white;
    @include font-bold-m;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    left: auto !important;
    height: 52px;
    padding: 16px;
    background-color: transparent;
    cursor: pointer;
    & > div {
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      color: $base-white;
      opacity: 0.72;
      transform: scale(1);
      transition: all 0.4s ease 0s;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
        transition: all 0.3s ease 0s;
      }
    }
  }
  .bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $base-dark-grey;
    z-index: 10;
    &__progress {
      width: 5%;
      height: 2px;
      background-color: $base-pink;
    }
  }
  .message {
    margin-left: 25%;
    padding: 16px;
    width: 37.5%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0;
    background-color: $base-dark-grey;
    @include font-light-s;
    word-wrap: break-word;
    line-height: 16px;
    color: $base-ligth-grey;
    &__subtitle {
      margin-bottom: 4px;
      @include font-bold-m;
      line-height: 20px;
      color: $base-white;
    }
  }
  .loginInput {
    position: relative;
    margin-top: 24px;
    margin-left: 37.5%;
    width: 25%;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
    &__input {
      padding: 18px 12px 2px 36px;
      width: 100%;
      height: 100%;
      background-color: $base-light-blue;
      outline: 0;
      @include font-regular-m;
      line-height: 20px;
      color: $base-dark-purple;
      cursor: pointer;
    }
    &__icon {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
      color: rgba(31, 27, 46, 0.4);
    }
    &__label {
      position: absolute;
      left: 36px;
      right: 12px;
      top: 10px;
      overflow: hidden;
      height: 20px;
      @include font-regular-m;
      line-height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $base-ligth-grey;
      will-change: transform;
      transition: all 0.6s ease 0s;
    }
    .active {
      transform: translate3d(0, -8px, 0) scale(0.9) perspective(1px);
      transition: all 0.6s ease 0s;
    }
  }
  .continue {
    margin-top: 12px;
    width: 25%;
    margin-left: 37.5%;
    &__btn {
      padding: 9px 15px;
      width: 100%;
      border-width: 1px;
      opacity: 0.32;
      &.activeContinue {
        opacity: 1;
      }
    }
    &__policy {
      margin-top: 25px;
      font-size: 13px;
      @include font-light-s;
      line-height: 1.3;
      color: $base-ligth-grey;
      a {
        color: $base-white;
        box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
        transition: all 0.8s ease 0s;
        &:hover {
          box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
          transition: all 0.8s ease 0s;
        }
      }
    }
  }
}
