$base-dark-blue: #100e19;
$base-ligth-grey: #a5a1b2;
$base-dark-purple: #1f1b2e;
$base-light-purple: #2e2844;
$base-white: #fff;
$base-pink: #ea003d;
$base-pink-hover: #ea003d;
$base-dark-grey: #312b45;
$base-dark-grey-hover: #352f4b;
$base-light-lilac: #a869f0;
$base-dark-lilac: #834cc2;
$base-light-blue: #d9d7e0;
$base-grey: rgba(255, 255, 255, 0.48);
$base-grey-menu: rgba(255, 255, 255, 0.72);
$base-grey-topmenu: rgba(255, 255, 255, 0.624);
$base-light-grey: rgba(255, 255, 255, 0.16);
$base-light-black: rgba(0, 0, 0, 0.48);
$base-green: #73a32f;
