@import "./null.scss";
@import "./color.scss";
@import "./mixins.scss";

html,
body {
  max-width: 100vw;
  background-color: $base-dark-blue;
  font-size: 15px;
  font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  color: $base-white;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

main {
  flex: 1 1 auto;
}

@font-face {
  font-family: "IviSans";
  src: url("../fonts/ivi\ Sans\ Regular.ttf") format("truetype");
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
