@import "./null.scss";
@import "./color.scss";
@import "./mixins.scss";

html,
body {
  max-width: 100vw;
  background-color: $base-dark-blue;
  font-size: 15px;
  font-family: "IviSans-light", Arial, Helvetica, Helvetica Neue, FreeSans,
    sans-serif;
  color: $base-white;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
  margin-top: 72px;
}

@font-face {
  font-family: "IviSans-regular";
  src: url("../fonts/ivi\ Sans\ Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IviSans-bold";
  src: url("../fonts/FreeSansBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "IviSans-light";
  src: url("../fonts/IvyStyleSans-Light.ttf") format("truetype");
  font-weight: 400;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
