@import "./icons.scss";
@import "./null.scss";
@import "./color.scss";
@import "./mixins.scss";

html,
body {
  max-width: 100vw;
  background-color: $base-dark-blue;
  font-size: 15px;
  font-family: "IviSans-light", Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
  color: $base-white;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
  @include _1160 {
    margin-bottom: 48px;
  }
}

@font-face {
  font-family: "IviSans-regular";
  src: url("../fonts/iviSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "IviSans-bold";
  src: url("../fonts/iviSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "IviSans-light";
  src: url("../fonts/iviSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: iconfont;
  font-weight: 400;
  font-style: normal;
  src: url(https://ds-parent.dfs.ivi.ru/22.12.02/icon/_fonts/iconfont.woff) format("woff"),
    url(https://ds-parent.dfs.ivi.ru/22.12.02/icon/_fonts/iconfont.ttf) format("truetype"), local("☺");
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
