@mixin container_1160 {
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin: 0 auto;
    @content;
  }
}

@mixin container_920 {
  @media screen and (min-width: 600px) and (max-width: 1160px) {
    width: 100%;
    margin: 0 auto;
    @content;
  }
}

@mixin container_1280 {
  @media screen and (min-width: 1280px) {
    width: 1216px;
    margin: 0 auto;
    @content;
  }
}

@mixin container_600 {
  @media screen and (min-width: 600px) and (max-width: 1279.98px) {
    width: auto;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    @content;
  }
}

@mixin _1160 {
  @media screen and (max-width: 1160px) {
    @content;
  }
}

@mixin font-regular {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin font-footer {
  font-family: iviSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin mobil-footer {
  font-family: iviSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin btn-stories {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  white-space: nowrap;
}

@mixin font-small-p {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

@mixin font-for-button {
  font-family: "IviSans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin pink-button {
  background-color: $base-pink;
  border: 1px solid $base-pink;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  @include font-for-button;
  color: $base-white;
}
