@mixin container_1160 {
  @media screen and (min-width: 1160px) {
    width: 1160px;
    margin: 0 auto;
    @content;
  }
}

@mixin container_920 {
  @media screen and (min-width: 600px) and (max-width: 1160px) {
    width: 100%;
    margin: 0 auto;
    @content;
  }
}

@mixin font-regular {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
