//mobile_s
@mixin mobile_s {
  @media screen and (max-width: 380px) {
    @content;
  }
}
//mobile_m
@mixin mobile_m {
  @media screen and (min-width: 380px) and (max-width: 600px) {
    @content;
  }
}

//tablet_s
@mixin tablet_s {
  @media screen and (min-width: 600px) and (max-width: 1020px) {
    @content;
  }
}

//tablet_m
@mixin tablet_m {
  @media screen and (min-width: 1020px) and (max-width: 1280px) {
    @content;
  }
}

@mixin font-light-xxs {
  font-family: "IviSans-light";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-light-xs {
  font-family: "IviSans-light";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-light-s {
  font-family: "IviSans-light";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-light-m {
  font-family: "IviSans-light";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-light-l {
  font-family: "IviSans-light";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-light-xl {
  font-family: "IviSans-light";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

@mixin font-regular-xxs {
  font-family: "IviSans-redular";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

@mixin font-regular-s {
  font-family: "IviSans-redular";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

@mixin font-regular-m {
  font-family: "IviSans-redular";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

@mixin font-regular-l {
  font-family: "IviSans-redular";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@mixin font-regular-xl {
  font-family: "IviSans-redular";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

@mixin font-bold-s {
  font-family: "IviSans-bold";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

@mixin font-bold-m {
  font-family: "IviSans-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

@mixin font-bold-l {
  font-family: "IviSans-bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

@mixin font-bold-xl {
  font-family: "IviSans-bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

///////////////////////////////////////////////////
@mixin container_1160 {
  @media screen and (min-width: 1160px) {
    // width: 1160px;
    // margin: 0 auto;
    @content;
  }
}

@mixin tablet_m {
  @media screen and (min-width: 600px) and (max-width: 1280px) {
  }
}

@mixin container_920 {
  @media screen and (min-width: 600px) and (max-width: 1160px) {
    width: 100%;
    margin: 0 auto;
    @content;
  }
}

// tablet_m
@mixin container_1280 {
  @media screen and (min-width: 1280px) {
    width: 1216px;
    margin: 0 auto;
    @content;
  }
}
//tables_s
@mixin container_600 {
  @media screen and (min-width: 600px) and (max-width: 1279.98px) {
    width: auto;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 380px) {
    @content;
  }
}
//mobile_m
@mixin container_380 {
  @media screen and (min-width: 380px) and (max-width: 600px) {
    width: auto;
    margin: 0 auto;
    @content;
  }
}

@mixin _1160 {
  @media screen and (max-width: 1160px) {
    @content;
  }
}

@mixin _880 {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin _600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin font-regular {
  font-family: "iviSans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@mixin font-footer {
  font-family: iviSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin font-footer-bold {
  font-family: iviSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

@mixin font-description {
  font-family: iviSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin font-breadcrumbs {
  font-family: iviSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

@mixin mobil-footer {
  font-family: iviSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin btn-stories {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  white-space: nowrap;
}

@mixin font-small-p {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

@mixin font-regular-s {
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  font-weight: 400;
}
@mixin font-for-button {
  font-family: "IviSans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@mixin pink-button {
  background-color: $base-pink;
  border: 1px solid $base-pink;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  @include font-for-button;
  color: $base-white;
}
