@import "../../../../styles/mixins.scss";

.link {
  display: flex;
  column-gap: 12px;
  @include font-regular;
  cursor: pointer;
  &:hover {
    opacity: 0.72;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
.subMenu {
  position: relative;
  display: block;
  overflow: hidden;
  opacity: 1;
  column-count: 1;
  will-change: transform, opacity, margin-top;
  transform: scaleY(1);
  transform-origin: center top;
  animation: dropdownEaseAbTest 0.3s ease forwards;
}

@keyframes dropdownEaseAbTest {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
