@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  width: 1200px;
  margin: 0 auto;
  @include tablet_s {
  }
  @include laptop {
    width: 100%;
    // background-color: red;
  }
  @media screen and (min-width: 600px) and (max-width: 1280px) {
    width: calc(100% - 30px);
  }

  @media screen and (max-width: 600px) {
    width: calc(100% - 30px);
  }

  .title {
    height: 35px;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;

    img {
      margin-right: 10px;
    }

    h4 {
      @include font-regular-l;
      font-size: 24px;
      margin-right: 10px;
    }
  }
}
