@import "@/styles/color.scss";
@import "@/styles/mixins.scss";

.button_profile {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid $base-grey;
  border-radius: 8px;
  margin-left: 12px;
  cursor: pointer;
  padding: 12px;
  box-sizing: border-box;

  .profile_icon {
    width: 20px;
    height: 20px;
    color: $base-ligth-grey;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
  &:hover {
    border-color: rgb(255, 255, 255, 0.85);
    box-shadow: rgba(255, 255, 255, 0.45) 0px 0px 14px;
    .profile_icon {
      color: $base-white;
    }
  }
}
