@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/color.scss";

.vote {
  .button_down_active,
  .button_down_not_active,
  .button_up_active,
  .button_up_not_active {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    bottom: -10px;
  }

  .button_up_active {
    color: $base-green;
  }

  .button_down_active {
    color: $base-pink;
  }
  .button_down_not_active,
  .button_up_not_active {
    color: $base-ligth-grey;
  }
}
