@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.search {
  position: relative;
  margin: auto;
  width: 75%;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background-color: $base-light-blue;
  white-space: nowrap;
  &__placeholder {
    position: absolute;
    left: 12px;
    top: 10px;
    height: 20px;
    line-height: 20px;
    @include font-light-m;
    color: $base-ligth-grey;
    will-change: transform;
    transition: all 0.6s ease 0s;
  }
  &__input {
    padding: 18px 40px 2px 12px;
    width: 100%;
    height: 100%;
    @include font-regular-m;
    color: #1f1b2e;
    background-color: transparent;
    &:focus,
    &:active {
      outline: none;
    }
  }
  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $base-dark-purple;
    width: 20px;
    height: 20px;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $base-dark-purple;
    opacity: 0.5;
    width: 16px;
    height: 16px;
    &:hover {
      opacity: 1;
    }
  }
  .active {
    transform: translate3d(0, -8px, 0) scale(0.9) perspective(1px);
    transition: all 0.6s ease 0s;
  }
}
