@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  padding: 20px 0;
  @include container_1280 {
  }
  @include container_s {
  }
}
.backBtn {
  padding: 16px 12px 16px 0;
  column-gap: 8px;
  @include font-regular-m;
  line-height: 20px;
  color: $base-white;
  &__icon {
    &::before {
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: all 0.3s ease 0s;
    }
    &:hover::before {
      transform: scale(1.1);
      transition: all 0.3s ease 0s;
    }
  }
}
.personContainer {
  margin: 0 auto;
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  @include _1160 {
    width: 66.66666667%;
  }
  @include _880 {
    width: 100%;
  }
  .imgContainer {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    border-radius: 16px;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .title {
    margin: 0;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    color: $base-white;
    text-align: left;
  }
  .title_en {
    margin-top: 16px;
    color: $base-ligth-grey;
    @include font-light-l;
    line-height: 22px;
  }
  .description {
    width: 100%;
    color: $base-light-blue;
    button {
      margin-top: 8px;
      font-family: "IviSans-light" !important;
      color: $base-ligth-grey;
      transition: 0.4s ease 0s;
      &:hover {
        color: $base-white;
        transition: 0.4s ease 0s;
      }
    }
    p + p {
      margin-top: 8px;
    }
  }
  .breadcrumbsRow {
    margin-top: 40px;
    & > div {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.88);
    }
  }
  .filmographyRow {
    margin-top: 40px;
  }
}
