@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(7, 7, 7, 0.3);
  z-index: 100;
  animation: open 0.5s linear;

  .modal {
    width: 70vw;
    height: 70vh;
    background-color: white;
    z-index: 101;
    margin: 7% auto;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
