@import "../../../styles/mixins.scss";
@import "../../../styles/color.scss";

.bottom_buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left_side {
    display: flex;
    .trailer {
      width: 110px;
      height: 40px;
      color: $base-grey-menu;
      padding: 5px 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      @include font-regular-m;
    }

    .favorite,
    .share {
      width: 40px;
      height: 40px;
      margin-left: 15px;
      color: $base-grey-menu;
    }
  }

  .free_movies {
    display: flex;
    justify-content: space-around;
    min-width: 140px;
    max-width: 210px;
    color: $base-grey-menu;
    padding: 5px 10px;
    @include font-regular-m;
    p {
      margin-left: 10px;
    }
  }
}
