@import "../../../../styles/color.scss";
@import "../../../../styles/mixins.scss";

.container {
  width: calc(100% - 20px);
  height: 100px;
  position: absolute;
  top: 44%;
  .rating {
    display: flex;
    align-items: center;
    width: inherit;
    h5 {
      @include font-regular-l;
      font-weight: 700;
      color: $base-white;
      margin-right: 0;
      font-size: 1.5vw;

      span {
        font-size: 1.2vw;
      }
    }

    .div_progress_bar {
      position: relative;
      top: 3px;
      width: 22px;
      margin-left: 10px;
    }
  }

  .story {
    margin: 8px 0 12px 0;

    p {
      @include font-light-s;
      font-size: 0.8vw;
      color: $base-ligth-grey;
      margin-bottom: 5px;
    }
  }

  .info {
    width: 100%;
    p {
      @include font-regular-s;
      color: $base-light-blue;
      margin-bottom: 5px;
      font-size: 0.7vw;
    }
  }
}
