@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.description {
  @include font-light-m;
  line-height: 22px;
  color: $base-ligth-grey;
  .button {
    margin-top: 8px;
    font-family: "IviSans-light" !important;
    color: $base-white;
  }
  p + p {
    margin-top: 8px;
  }
}
