@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  @include container_1160 {
  }
  @include container_920 {
  }
  .main_part {
    display: flex;
    align-items: center;
    .navigation {
      display: flex;
      flex-direction: row;
      margin-left: 32px;

      .link {
        @include font-regular;
        color: $base-grey;

        padding-left: 15px;
      }
    }
  }
}
