@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.header {
  background-color: $base-dark-blue;
  width: 100%;
  z-index: 100;

  .container {
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 0 20px;
    box-sizing: border-box;
    @include desktop {
      margin: 0 auto;
      max-width: 1216px;
    }

    @include laptop {
      margin: 0 auto;
      width: 100%;
      max-width: 1216px;
    }

    .container_active {
      height: inherit;
      @include laptop {
      }
      @include desktop {
      }
      position: absolute;
      // background-color: $base-dark-grey;
      opacity: 0.48;
      border-radius: 14px 14px 0px 0px;
      z-index: 0;
    }
    .main_part {
      height: inherit;
      display: flex;
      align-items: center;
      z-index: 1;
    }

    .buttons {
      height: inherit;
      display: flex;
      align-items: center;
      z-index: 1;

      .button_watch_for_free {
        @include pink-button;
        height: 32px;
        width: 213px;
        padding: 7px 11px;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }
}
