@import "../../../styles/color.scss";

.dropdown {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  padding: 16px;
  background-color: $base-dark-grey;
  z-index: 10;
}
.left,
.right {
  @extend .dropdown;
  width: 630px;
  @media screen and (max-width: 744px) {
    width: 416px;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
  width: 630px;
}
.narrow {
  @extend .dropdown;
  left: 0;
  width: 100%;
}
