@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.button {
  display: block;
  width: 45px;
  height: 50px;
  z-index: 100;
  top: 35%;
  position: absolute;
  color: $base-light-blue;
  left: -40px;

  * {
    width: inherit;
    height: inherit;
    object-fit: fill;
  }

  @media screen and (min-width: 600px) and (max-width: 1280px) {
    left: -35px;
  }

  @media screen and (min-width: 380px) and (max-width: 600px) {
    left: -35px;
    width: 35px;
    height: 40px;
  }

  @media screen and (max-width: 380px) {
    left: -25px;
    width: 30px;
    height: 40px;
  }
}
