@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  .title {
    margin-top: 24px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    color: $base-white;
  }
  .description {
    width: 76%;
    @include _1160 {
      width: 100%;
    }
  }
  .suggestionRow {
    margin-top: 20px;
  }
  .headerbar {
    margin: 32px 0 16px;
  }
  .sortRow {
  }
  .filtersRow {
    margin-top: 12px;
  }
  @include container_1280 {
  }
  @include container_s {
  }
}
.genresRow {
  width: 100%;
  max-width: 1280px;
  margin: 12px auto 0;
  padding: 30px 0;
  &__title {
    margin: 0 30px 15px;
    font-size: 24px;
    font-weight: 700;
    color: $base-white;
  }
}
