@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  width: 1250px;
  margin: 0 auto;
  @media screen and (min-width: 600px) and (max-width: 1280px) {
    width: calc(100% - 30px);
  }

  @media screen and (max-width: 600px) {
    width: calc(100% - 30px);
  }
  // @include container_1280 {
  // }
}
