@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.logOutRow {
  display: flex;
  column-gap: 24px;
  margin: 32px 0;

  button {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    @include font-regular-m;
    line-height: 20px;
    color: $base-white;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $base-pink;
      transition: color 0.3s ease 0s;
    }

    svg {
      fill: $base-pink;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }
}
