@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  @include container_1280 {
  }
  @include container_600 {
  }
  .content {
    display: flex;
    padding-bottom: 48px;
    padding-top: 48px;
    border-top: 1px solid $base-light-grey;
    border-bottom: 1px solid $base-light-grey;
    @include _1160 {
      display: none;
    }
  }
  .cols {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 25%;
    p {
      @include font-footer;
      color: $base-grey;
    }
    &__title {
      margin-bottom: 8px;
      line-height: 1.33;
      font-weight: 700;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    &__link {
      @include font-footer;
      color: $base-grey;
      cursor: pointer;
      &:hover {
        color: $base-white;
        transition: all 0.4s ease 0s;
      }
    }
    &__sert,
    &__sert:hover {
      background-image: linear-gradient(-45deg, #c447ff, #ea003d);
      background-clip: text;
      font-weight: 500;
      -webkit-text-fill-color: transparent;
    }
  }
  .btn {
    background-color: $base-dark-purple;
    border-radius: 8px;
    border: 1px solid $base-dark-purple;
    color: $base-white;
    &:hover {
      background-color: $base-light-purple;
      border: 1px solid $base-light-purple;
      transition: all 0.4s ease 0s;
    }
  }
  .support {
    margin-top: 20px;
    &__chatbtn {
      @extend .btn;
      height: 40px;
      width: 196px;
    }
    &__btns {
      display: flex;
      column-gap: 12px;
      margin-top: 12px;
    }
    &__iconBtn {
      @extend .btn;
      width: 40px;
      height: 40px;
      font-size: 18px;
      line-height: 1;
    }
  }
  .ask {
    @include font-regular;
    display: block;
    margin-top: 8px;
    transition: all 0.4s ease 0s;
    &:hover {
      opacity: 0.48;
    }
  }
  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 104px;
      width: 104px;
      background: linear-gradient(180deg, $base-light-lilac 0, $base-dark-lilac);
      border-radius: 20px;
      box-shadow: 0 0 104px $base-light-lilac;
    }
    &__text {
      text-align: center;
      margin-top: 24px;
    }
  }
}
