@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  .content {
    display: flex;
    padding-bottom: 48px;
    padding-top: 48px;
    border-top: 1px solid $base-light-grey;
    @include tablet_m {
      display: none;
    }
  }
  .cols {
    display: flex;
    flex-direction: column;
    width: 25%;
    &__title {
      margin-bottom: 8px;
      line-height: 1.33;
      font-weight: 700;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    &__link {
      @include font-light-m;
      line-height: 20px;
      color: $base-grey;
      cursor: pointer;
      &:hover {
        color: $base-white;
        transition: all 0.4s ease 0s;
      }
    }
    &__sert,
    &__sert:hover {
      background-image: linear-gradient(-45deg, #c447ff, #ea003d);
      background-clip: text;
      font-weight: 500;
      -webkit-text-fill-color: transparent;
    }
  }
  .support {
    margin-top: 20px;
    &__btns {
      display: flex;
      column-gap: 12px;
      margin-top: 12px;
    }
  }
  .ask {
    @include font-regular-m;
    line-height: 20px;
    display: block;
    margin-top: 8px;
    transition: all 0.4s ease 0s;
    &:hover {
      opacity: 0.48;
    }
  }
  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 104px;
      width: 104px;
      background: linear-gradient(
        180deg,
        $base-light-lilac 0,
        $base-dark-lilac
      );
      border-radius: 20px;
      box-shadow: 0 0 104px $base-light-lilac;
    }
    &__text {
      text-align: center;
      margin-top: 24px;
    }
  }
  .columns {
    width: 50%;
  }
  .stories {
    display: flex;
    column-gap: 12px;
    white-space: nowrap;
  }
  .copyrights {
    margin-top: 32px;
  }
  .socials {
    display: flex;
    justify-content: flex-end;
  }
  p {
    @include font-light-m;
    line-height: 20px;
    color: $base-grey;
  }
  @include container_1280 {
  }
  @include container_s {
  }
}
