@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.navigation {
  display: none;

  @include container_1160 {
    display: block;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    width: 460px;
    .link,
    .link_movies {
      display: inline-block;
      @include font-regular;
      color: $base-grey;
      padding: 15px 0 15px 15px;
    }
  }
}
