@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.results {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 24px;
  }
  &__moreBtn {
    margin-bottom: 24px;
    padding: 9px 15px;
    width: 100%;
    @include font-regular-m;
    line-height: 20px;
    color: $base-white;
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 8px;
    transition: all 0.6s ease 0s;
    &:hover {
      border-color: $base-grey-menu;
      transition: all 0.6s ease 0s;
    }
  }
}
