@import "../../styles/mixins.scss";
@import "../../styles/color.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    @include font-regular-l;
    font-size: 24px;
    margin-bottom: 10px;
  }

  textarea {
    width: 700px;
    height: 80px;
    background-color: $base-dark-grey;
    border-radius: 12px;
    margin-bottom: 20px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    @include font-light-m;
    color: $base-grey-menu;
  }

  .not_auth {
    margin: 50px 0;
  }
}
