@import "../../styles/mixins.scss";
@import "../../styles/color.scss";

.container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  .title {
    width: 40%;
    padding: 30px 0;
    box-sizing: border-box;
    h2 {
      @include font-bold-xl;
      font-size: 24px;
      margin-bottom: 12px;
    }
    p {
      @include font-regular-m;
      color: $base-ligth-grey;
      margin-bottom: 24px;
    }

    .button {
      width: 215px;
      height: 40px;
      @include font-regular-m;
    }
  }
  .banner {
    width: 50%;
    position: relative;
    .tv {
      .tv_bg_img {
        position: absolute;
        top: 0;
        right: 50px;
        width: 536px;
        height: 272px;
        z-index: 2;
      }
      .tv_main_img {
        width: 340px;
        height: 195px;
        position: absolute;
        top: 1px;
        right: 148px;
        object-fit: cover;
        border-radius: 16px;
      }
    }

    .ipad {
      .ipad_bg_img {
        width: 188px;
        height: 114px;
        position: absolute;
        right: 90px;
        bottom: 27px;
        z-index: 4;
      }

      .ipad_main_img {
        width: 184px;
        height: 100px;
        position: absolute;
        bottom: 28px;
        right: 92px;
        object-fit: cover;
        z-index: 3;
        border-radius: 16px;
      }
    }
  }
}
