@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.searchResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 20px;
  padding: 20px 0;
  .list {
    display: flex;
    column-gap: 12px;
  }
  .item {
    @include font-regular-m;
    line-height: 20px;
    color: $base-ligth-grey;
    cursor: pointer;
    transition: 0.3s ease 0s;
    &:hover {
      color: $base-pink;
      transition: 0.3s ease 0s;
    }
  }
  .label {
    @include font-light-s;
    line-height: 16px;
    color: $base-ligth-grey;
  }
  .icon {
    font-size: 20px;
    line-height: 20px;
    color: $base-pink;
  }
}
