@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.filters {
  padding: 16px;
  border-radius: 6px;
  background-color: $base-dark-purple;
  .filtersRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    width: 100%;
    @include _880 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include _600 {
      grid-template-columns: 1fr;
    }
  }
  .rangeRow {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .filtersBtn {
    margin-top: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    @include font-light-m;
    line-height: 20px;
    color: $base-white;
    opacity: 0.32;
    background-color: transparent;
    &:not(:disabled) {
      cursor: pointer;
      &:hover {
        color: $base-pink-hover;
        opacity: 1;
        transition: color 0.8s ease 0s;
      }
    }
    &_active {
      opacity: 1;
      svg {
        stroke-width: 1px;
      }
    }
  }
}
