@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.wrapper {
  aspect-ratio: 3/6;
  position: relative;
  padding: 5px;
  max-width: 300px;
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .img {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 10px;
    }

    span {
      position: absolute;
      bottom: 30px;
      left: 110px;
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-style: italic;
      background-image: linear-gradient(
        to top,
        #191a1e 0%,
        #bfbbbf 46%,
        rgb(103, 102, 102) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 5;
    }
  }

  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(0deg, #100e19, rgba(16, 14, 25, 0));
  }

  &:hover {
    transform: scale(1.01);
    transition-duration: 0.3s;
  }

  &:active {
    transform: scale(1);
    transition-duration: 0.2s;
  }
}
