@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.sort {
  position: relative;
  line-height: 20px;
  color: $base-white;
  &__row {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
  &__popup {
    position: absolute;
    top: 32px;
    left: 0;
    padding: 8px 0 12px;
    width: 250px;
    @include font-regular-m;
    color: $base-ligth-grey;
    background-color: $base-dark-purple;
    box-shadow: 0 20px 40px rgba(7, 5, 14, 0.4);
    z-index: 200;
  }
  .icon::before {
    content: "\E365";
    font-size: 16px;
    line-height: 16px;
  }
  .choice {
    @include font-regular-m;
    cursor: pointer;
  }
  .icon_arrow {
    width: 16px;
    height: 16px;
    svg {
      stroke-width: 1px;
    }
  }
  .label {
    margin: 4px 0 12px 4px;
    padding: 0 16px;
    @include font-light-m;
  }
  .sortItem {
    position: relative;
    padding: 12px 16px 12px 20px;
    transition: 0.4s ease 0s;
    cursor: pointer;
    &:hover {
      color: $base-white;
      background-color: $base-dark-grey;
      transition: 0.4s ease 0s;
    }
  }
  .borderActive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: $base-pink-hover;
  }
}
