@import "../../../styles/color.scss";
@import "../../../styles/mixins.scss";

.container {
  display: none;
  @include container_920 {
    display: block;
    background-color: $base-dark-purple;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1001;

    .items {
      max-width: 600px;
      height: inherit;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .item {
        min-width: 50px;
        width: 120px;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          width: 20px;
          height: 20px;
          background-color: green;
        }

        span {
          @include font-small-p;
          color: $base-ligth-grey;
          margin-top: 4px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
