@import "../../styles/color.scss";
@import "../../styles/mixins.scss";

.container {
  position: relative;
  top: 23px;
  height: 413px;

  @include container_1280 {
  }
  @include container_920 {
  }
  .slide {
    position: relative;
    border-radius: 20px;
  }
}
