@import "../../../../styles/mixins.scss";
@import "../../../../styles/color.scss";

.blocks {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, minmax(155px, 1fr));
  grid-template-rows: repeat(2, auto);
  height: 280px;
  width: 66.66666667%;
  margin: 35px 0;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;

  .block {
    height: 100%;
    background-color: $base-light-purple;
    border-radius: 12px;
    padding: 20px 17px;
    box-sizing: border-box;
    color: white;
    line-height: 20px;
    position: relative;
    cursor: pointer;

    .description {
      position: absolute;
      bottom: 15px;
      padding-right: 8px;
      box-sizing: border-box;
    }

    div {
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: $base-grey;
    }
  }
}
